@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


::-webkit-scrollbar {
  width: 12px;
  background: #141414;
}
::-webkit-scrollbar-track {
  width: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background: #353535;
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: padding-box;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  overflow-x:hidden;
}
body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #141414;
  color: #dcdcdc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
